In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
raw = pd.read_csv("Motor_Vehicle_Collisions_-_Crashes_20240610.csv") 
raw['CRASH DATE'] = pd.to_datetime(raw['CRASH DATE'], format='%m/%d/%Y')
raw['YEAR'] = raw['CRASH DATE'].dt.year
raw = raw[(raw['BOROUGH'] == 'MANHATTAN') & (raw['YEAR'] == 2019)]
selected_columns = ['CRASH DATE', 'CRASH TIME']
conditions = raw[selected_columns]

C:\Users\yanzh\AppData\Local\Temp\ipykernel_31760\3094258636.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv("Motor_Vehicle_Collisions_-_Crashes_20240610.csv")

       CRASH DATE CRASH TIME
270034 2019-12-28       9:30
286053 2019-12-30       0:54
286063 2019-12-21      12:55
286065 2019-12-16      16:36
286069 2019-12-17      10:48
...           ...        ...
518683 2019-01-01      20:32
518918 2019-01-01       4:48
519228 2019-01-01       6:00
519411 2019-01-02       9:57
520119 2019-01-01      12:00

[26593 rows x 2 columns]

In [51]:
conditions

        CRASH DATE CRASH TIME      CRASH DATETIME  HOUR
270034  2019-12-28       9:30 2019-12-28 09:30:00     9
286053  2019-12-30       0:54 2019-12-30 00:54:00     0
286063  2019-12-21      12:55 2019-12-21 12:55:00    12
286065  2019-12-16      16:36 2019-12-16 16:36:00    16
286069  2019-12-17      10:48 2019-12-17 10:48:00    10
...            ...        ...                 ...   ...
518683  2019-01-01      20:32 2019-01-01 20:32:00    20
518918  2019-01-01       4:48 2019-01-01 04:48:00     4
519228  2019-01-01       6:00 2019-01-01 06:00:00     6
519411  2019-01-02       9:57 2019-01-02 09:57:00     9
520119  2019-01-01      12:00 2019-01-01 12:00:00    12

[26593 rows x 4 columns]

In [56]:
import pandas as pd

# 假设 conditions 数据框已经被定义，并包含 CRASH DATE 和 CRASH TIME 列

# 确保 CRASH DATE 列被转换为 datetime 类型，先不指定格式以处理混合格式
conditions['CRASH DATE'] = pd.to_datetime(conditions['CRASH DATE'], errors='coerce')

# 处理转换失败的情况
if conditions['CRASH DATE'].isnull().any():
    print("Some dates could not be parsed.")

# 将 CRASH DATE 和 CRASH TIME 列转换为 datetime 格式并合并
conditions['CRASH DATETIME'] = pd.to_datetime(conditions['CRASH DATE'].astype(str) + ' ' + conditions['CRASH TIME'], errors='coerce')

# 处理转换失败的情况
if conditions['CRASH DATETIME'].isnull().any():
    print("Some datetimes could not be parsed.")

# 创建一个包含2019年所有日期和小时的完整时间范围
all_hours = pd.date_range(start='2019-01-01', end='2019-12-31 23:00:00', freq='H')

# 创建一个新的DataFrame，其中包含所有日期和小时
full_range_df = pd.DataFrame(all_hours, columns=['CRASH DATETIME'])

# 将原始数据与完整时间范围进行合并，以确保每个小时都有相应的数据
merged_df = full_range_df.merge(conditions, on='CRASH DATETIME', how='left')

# 按小时统计crash数量
hourly_crash_counts = merged_df.groupby(merged_df['CRASH DATETIME'].dt.floor('H')).size().reset_index(name='CRASH COUNT')

# 查看统计结果
hourly_crash_counts

C:\Users\yanzh\AppData\Local\Temp\ipykernel_31760\147633197.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conditions['CRASH DATE'] = pd.to_datetime(conditions['CRASH DATE'], errors='coerce')
C:\Users\yanzh\AppData\Local\Temp\ipykernel_31760\147633197.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conditions['CRASH DATETIME'] = pd.to_datetime(conditions['CRASH DATE'].astype(str) + ' ' + conditions['CRASH TIME'], errors='coerce')
C:\Users\yanzh\AppData\Local\Temp\ipykernel_31760\147633197.py:20: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  all_hours = pd.date_range(start='2019-01-01', end='2019-12-31 23:00:00', freq='H')
C:\Users\yanzh\AppData\Local\Temp\ipykernel_31760\147633197.py:29: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_crash_counts = merged_df.groupby(merged_df['CRASH DATETIME'].dt.floor('H')).size().reset_index(name='CRASH COUNT')

          CRASH DATETIME  CRASH COUNT
0    2019-01-01 00:00:00            1
1    2019-01-01 01:00:00            1
2    2019-01-01 02:00:00            2
3    2019-01-01 03:00:00            1
4    2019-01-01 04:00:00            1
...                  ...          ...
8755 2019-12-31 19:00:00            2
8756 2019-12-31 20:00:00            1
8757 2019-12-31 21:00:00            1
8758 2019-12-31 22:00:00            1
8759 2019-12-31 23:00:00            1

[8760 rows x 2 columns]